.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #457b9d;
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

.fa-github {
  color: white;
  margin-right: 10px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signInOutButton {
  background-color: #1d3557;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.signInOutButton:hover {
  background-color: #1d3557;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 0; 
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}