.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #457b9d;
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

.fa-github {
  color: white;
  margin-right: 10px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signInOutButton {
  background-color: #1d3557;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.signInOutButton:hover {
  background-color: #1d3557;
  color: white;
}