.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #457b9d;
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

.fa-github {
  color: white;
  margin-right: 10px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}