.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #457b9d;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

.projectList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.projectItem {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 180%;
  text-align: left;
}

.projectItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d3557;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.projectItem h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #ffffff;
}

.updateDate {
  font-size: 0.9rem;
  color: #ffffff;
  margin: 0;
}

.projectItem p {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #1d3557;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.header th:first-child {
  background-color: #1d3557;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px 0 0 0;
  padding: 8px;
}

.header th {
  background-color: #1d3557;
  font-weight: bold;
  color: #ffffff;
  padding: 8px;
}

.header th:last-child {
  border-radius: 0 5px 0 0;
}

.cell {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: black;
  background-color: white;
}

.table tr:last-child .cell:first-child {
  border-bottom-left-radius: 5px;
}

.table tr:last-child .cell:last-child {
  border-bottom-right-radius: 5px;
}

.table tr:last-child .cell {
  border-bottom: none;
}
