.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Add space between elements */
  border: 2px solid #457b9d; /* Add a border around the container */
  border-radius: 10px; /* Add rounded corners */
  padding: 20px; /* Add padding inside the container */
  background-color: #457b9d;
}

.button {
  background-color: #1d3557;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}