.mainContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}

.profileContainer {
  flex: 1;
  margin-right: 20px;
}

.rightSection {
  flex: 3;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.activeTab {
  background-color: #1d3557;
  color: #ffffff;
}

.tabButton {
  background-color: #f1faee;
  border: none;
  border-radius: 5px;
  color: #1d3557;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  padding: 10px 20px;
}

.tabButton:hover {
  background-color: #a8dadc;
}

.contentSection {
  display: flex;
  justify-content: center;
}
